/* Reset some default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Set background color for the entire body */
body {
  background: #272525;
}

/* Header styles */
.head {
  width: 100%;
  background: black;
  position: sticky;
  top: 0px;
  opacity: 1;
  z-index: 3000;
  box-shadow: 0px 0px 7px 7px #231c1c;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: black;
}

/* Logo styles */
.header .logo {
  margin-left: 14px;
}

.logo h1 {
  color: red;
}

/* Login button styles */
.header .login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  background: green;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

/* Styles for search section and tabs */
.search .tabs {
	border-bottom:4px solid red;
  background: black;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
 
  width: 100%;
}



/* Tab styles */
.tabs li {
	border-top-left-radius:6px;
	border-top-right-radius:6px;

	text-align:center;
	width:30%;
  color: red;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.5s ease ease-in;
  cursor: pointer;
  border:3px solid transparent;
}
/* Active tab styles */
li.active {
	
 
  background:red;
  color:white;
  
}
/* Search box styles */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styles for search input box */
.search-box {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.search-box input {
  outline: none;
  border-right: none;
  font-size: 1.3rem;
  padding: 16px;
  width: 35%;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border: 1px solid gray;
}

/* Styles for focused search input */
.search-box input:focus {
  border-right: 0px;
}

/* Styles for search button */
.search-box button {
  border-left: none;
  font-size: 1.3rem;
  padding: 17px;
  width: 10%;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: green;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

/* Hover effect for search button */
.search-box button:hover {
  background-color: rgba(0, 128, 0, 0.829);
}

/* Styles for main photo container */
.main-photo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* Styles for individual photo boxes */
.photo-box {
  position: relative;
  width: 450px;
  height: 510px;
  margin: 7px;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 3px rgb(235, 232, 232);
}

/* Header styles for photos section */
.h1-for-photos {
  font-size: 3rem;
  margin-top: 70px;
  color: white;
  text-align: center;
}

/* Styles for image inside photo box */
.photo-box .img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.photo-box .img img {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 3px;
}
.add-photos{
	color:white;
	margin-top:50px;
}

.description{
	font-family: verdana;
    font-weight: 500;
    margin: 10px;
    color: white;
    font-size: 1.2rem;
}

/* Styles for favorite buttons */
.fav-button {
  position: absolute;
  z-index: 4;
  bottom: 2px;
}

.fav-button button {
  background-color: rgba(255, 254, 254, 0.24);
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover effect for favorite buttons */
.fav-button button:hover {
  background-color: rgba(255, 254, 254, 0.507);
}

/* Styles for "Load More" button */
.btn-dv {
  margin-top: 30px;
margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
	
}

.btn-dv .more-btn {
	display:none;
  background: red;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 130px;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover effect for "Load More" button */
.more-btn:hover {
  background: yellow;
  color: black;
}

/* Styles for loading spinner */
#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Media query for smaller screens */
@media screen and (max-width: 900px) {
  .search-box input {
  width: 30%;
    font-size: 1rem;
    padding: 13px;

  }

  .search-box button {
    width: 12%;
    font-size: 1rem;
    padding: 14px;
}
  
}

/* Media query for smaller screens */
@media screen and (max-width: 556px) {
  .search-box input {
    width: 40%;
    font-size: 1rem;
    padding: 8px;
  }

  .search-box button {
    width: 20%;
    font-size: 1rem;
    padding: 9px;
  }

  .tabs li {
  
    font-size: 1rem;
  }

  .header .login {
    width: 60px;
    padding: 6px;
    font-size: 14px;
  }

  .logo h1 {
    font-size: 24px;
  }

  .search .tabs {
    height: 40px;
  }

  .search-box {
    height: 50px;
  }

  .photo-box {
    height: 410px;
  }
  
  .btn-dv .more-btn {

  padding: 7px;
  
  width: 90px;
 
}

/* Styles for loading spinner */
#loading-spinner {
 
  padding: 7px;

}
}
@media screen and (max-width: 340px) {
 .search-box input {
        width: 45%;
    font-size: 0.80rem;
    padding: 6px;
}
  

  .search-box button {
    width: 25%;
    font-size: 0.80rem;
    padding: 7px;

  }

  .tabs li {
    color: red;
    font-size: 0.80rem;
  }

  .header .login {
    width: 46px;
    padding: 4px;
    font-size: 10px;
}
  

  .logo h1 {
    font-size: 18px;
  }

  .search .tabs {
    height: 40px;
  }

  .search-box {
    height: 40px;
  }

  .photo-box {
    height: 350px;
  }
  .header {
    height: 40px;
  }
  
  
/* Hover effect for "Load More" button */
.btn-dv .more-btn {

  padding: 7px;
  
  width: 80px;
 
}

/* Styles for loading spinner */
#loading-spinner {
 
  padding: 7px;

}

  
}
