* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

/* header styling */

.header {
    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: column;

}

.sign {

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    background-color: rgb(28, 21, 51);
    width: 100%;
    height: 50px;

}


.sign img {
    width: 35px;
    height: 35px;
    filter: invert(100%);
    cursor: pointer;





}

.sign select {

    border: none;

    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    top: 4px;
    color: white;

}

.sign a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.sign a:hover {
    text-decoration: underline;
}

.sign select option {
    color: black;
}

.burger {
    display: none;

}

.line {
    height: 4px;
    width: 24px;
    margin: 3px;
    background-color: white;
}

/* Navigation Bar Styling */
.navbar {

    background-color: rgb(50 38 80);
    width: 100%;
    height: 50px;
    font-family: sans-serif;



}

.navbar ul {

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li a {

    margin: 5px 9px;
    padding: 8px 9px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

}

.navbar li {
    list-style: none;
    margin: 15px 0px;
}

.navbar li a:hover {
    border: 1px solid white;

    color: white;
    font-size: 17px;
}

/* Home Section styling */



h1{
    font-size: 39px;
     font-weight: bolder;
 
     margin-bottom: 54px;
 }
         .sign-up{
             height: 650px;
             width: 550px;
             margin: auto;
           
             margin-top: 33px;
             margin-bottom: 33px;
             background-color: rgb(226 226 226);
             box-shadow: 0px 0px 15px #b9b4b4;
             border-radius: 7px;
 
         }
         input{
             display: block;
             margin: auto;
             margin-top: 18px;
             width: 60%;
             padding: 10px;
             border: none;
             border-radius: 5px;
             margin-bottom: 5px;
            
 
         }
         label{
             margin-left: 33px;
            font-size: 17px;
         }
         #submit{
             width: 180px;
             padding: 15px;
             cursor: pointer;
             border-radius: 5px;
             background-color: rgb(14, 88, 162);
             font-size: 18px;
             color: white;
             margin-top: 33px;
             
         }
         #submit:hover{
              background-color: rgba(14, 88, 162, 0.845);}


/* footer styling  */
.container1 {
    display: flex;
    justify-content: space-between;
    margin: 36px 42px;
    padding: 31px 26px;



}

h1 {

    margin: 0px 2px;
    text-align: center;
    font-size: 3.4rem;
}


.footer1 {

    width: 100%;
    height: 215px;
    background-color: #676767c7;
    cursor: pointer;
}

.footer {
    height: 64px;
    background-color: rgb(85 82 82 / 78%);
    display: flex;
    justify-content: center;

    align-items: center;
    position: relative;
    bottom: 0px;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: black;
    transition: all 0.1s ease;
    cursor: pointer;
    position: relative;
    margin: 12px 40px;



}

.footer a:hover {

    left: 2px;
}

